$border-radius: 6px;
$background: #252e3a;
$elevation: #101214;
$elevation-2: #404547;
$text-color: #fff;
$text-shadow: 1px 1px 1px black;
$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
$lines: #d0e5e6;
