@use "variables" as *;

@import "mixins";

.weather {
  display: flex;
  flex-direction: column;
  text-shadow: $text-shadow;

  &__temp {
    font-weight: 250;
    font-size: 3rem;
  }

  &__day-temp {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  &__overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__back {
    border: solid $text-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(135deg);
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 10px;
  }

  &__fav {
    border: none;
    background-color: transparent;
  }

  &__star {
    stroke: $text-color;
    width: 25px;
    height: 25px;
  }
  &__star:hover {
    fill: yellow;
    stroke: yellow;
  }
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.weather-day-forecast {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  backdrop-filter: blur(5px);

  &__condition {
    border-bottom: 1px solid $lines;
    padding-bottom: 1rem;
  }

  &__overview {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  &__overview::-webkit-scrollbar {
    display: none;
  }

  &__time {
    flex: 0 0 auto;
    min-width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
  }
}

.scrollable {
  cursor: grab;
}

.scrollable:active {
  cursor: grabbing;
}
