@use "variables" as *;
.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__edit {
    border: none;
    background-color: transparent;
    color: $text-color;
    cursor: pointer;
  }

  &__searchbar {
    height: 2rem;
    border: $border-radius;
  }

  &__citys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    height: 6rem;
    margin-top: 1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--condition-image);
    background-size: cover;
    background-position: 50% 25%;
    cursor: pointer;
  }

  &__cityleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
    padding: 0.5rem;
    color: $text-color;
    text-shadow: $text-shadow;

    &--country {
      font-size: 0.8rem;
    }
  }

  &__cityright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    padding: 0.5rem;
    color: $text-color;
    text-shadow: $text-shadow;

    &--currenttemp {
      font-size: 1.2rem;
      align-self: self-end;
    }
  }
}
