@use "variables" as *;
.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__edit {
    border: none;
    background-color: transparent;
    color: $text-color;
    cursor: pointer;
  }

  &__searchbar {
    height: 2rem;
    border: $border-radius;
  }

  &__citys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    height: 6rem;
    margin-top: 1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--condition-image);
    background-size: cover;
    background-position: 50% 25%;
    cursor: pointer;
  }

  &__city,
  &__weather {
    display: flex;
    justify-content: space-between;

    border: 1px solid black;
    width: 100%;
    gap: 6rem;
  }
}
